In [59]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import yfinance as yf

In [60]:

# Define tickers
tickers = ['msft', 'aapl', 'goog', 'nvda', 'meta', 'tsm','orcl', 'adbe', 'crm', 'csco', 'tmus', 'intc', 'intu', 'ibm', 'tsla', 't', 'now', 'adi', 'uber', 'shop', 'abnb', 'pypl', 'infy', 'snow', 'wday', 'aph']

# Create an empty list to store the dataframes
df_list = []

# Loop over each ticker in the list and download the data
for ticker in tickers:
    ticker_object = yf.Ticker(ticker)

    # Download the data
    ticker_df = ticker_object.history(period="5y")
    
    # Add a column to identify the ticker
    ticker_df['Ticker'] = ticker 
        
    # Append the DataFrame to the list
    df_list.append(ticker_df)

# Concatenate all the dataframes in the list into one DataFrame
stock_info = pd.concat(df_list)

# Display the first 5 rows
stock_info.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
Date,,,,,,,,
2023-06-06 00:00:00-04:00,76.820000,77.629997,76.629997,77.500000,2447500,0.0,0.0,aph
2023-06-07 00:00:00-04:00,77.720001,78.900002,77.550003,78.760002,2406500,0.0,0.0,aph
2023-06-08 00:00:00-04:00,78.889999,79.050003,78.169998,78.849998,1912000,0.0,0.0,aph
2023-06-09 00:00:00-04:00,79.220001,79.400002,78.029999,78.230003,2191500,0.0,0.0,aph
2023-06-12 00:00:00-04:00,78.430000,79.750000,78.360001,79.610001,1901389,0.0,0.0,aph

In [61]:
# Create a new list of column names with 'Ticker' at the start
cols = ['Ticker'] + [col for col in stock_info if col != 'Ticker']

# Reindex the DataFrame to rearrange the columns
stock_info = stock_info[cols]

# Sort the DataFrame by the 'Ticker' column
stock_info = stock_info.sort_values(['Date', 'Ticker'])

# Display the first 50 rows

stock_info.head(100)

,Ticker,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2018-06-13 00:00:00-04:00,aapl,45.972758,46.082662,45.499700,45.561817,86553600,0.0,0.0
2018-06-13 00:00:00-04:00,adbe,253.699997,257.899994,253.649994,256.130005,3590700,0.0,0.0
2018-06-13 00:00:00-04:00,adi,92.821131,92.893834,91.539778,91.830582,2064300,0.0,0.0
2018-06-13 00:00:00-04:00,aph,43.213737,43.380090,43.090164,43.275528,2210400,0.0,0.0
2018-06-13 00:00:00-04:00,crm,136.369995,137.490005,135.600006,136.500000,5809300,0.0,0.0
...,...,...,...,...,...,...,...,...
2018-06-19 00:00:00-04:00,aph,42.679729,42.798853,42.241353,42.732143,1898600,0.0,0.0
2018-06-19 00:00:00-04:00,crm,138.080002,139.710007,137.229996,139.520004,4833700,0.0,0.0
2018-06-19 00:00:00-04:00,csco,37.491509,37.835311,37.336798,37.663410,22199200,0.0,0.0
2018-06-19 00:00:00-04:00,goog,57.924999,58.563499,57.700500,58.403000,32420000,0.0,0.0
2018-06-19 00:00:00-04:00,ibm,107.136189,107.959619,107.008933,107.720078,3647402,0.0,0.0

In [62]:
# Reset the index
stock_info = stock_info.reset_index()

# Ensure the 'Date' column is a datetime object
stock_info['Date'] = pd.to_datetime(stock_info['Date'])

# Set 'Date' as the index again (this is necessary for resampling)
stock_info.set_index('Date', inplace=True)

# Create a grouper that groups by 'Ticker' and by month
grouped = stock_info.groupby('Ticker').resample('M')

# Compute the mean of the 'Close' price for each group
monthly_stock_info = grouped.mean()

# Reset the index again so that 'Date' and 'Ticker' are regular columns
monthly_stock_info.reset_index(inplace=True)

# Display the first rows of the DataFrame
monthly_stock_info.head(50)

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,aapl,2018-06-30 00:00:00-04:00,44.636469,44.916556,44.272577,44.531161,1.083670e+08,0.000000,0.000000
1,aapl,2018-07-31 00:00:00-04:00,45.441448,45.762510,45.159182,45.468981,7.498884e+07,0.000000,0.000000
2,aapl,2018-08-31 00:00:00-04:00,50.892731,51.389502,50.609905,51.098366,1.217946e+08,0.007935,0.000000
3,aapl,2018-09-30 00:00:00-04:00,53.305369,53.832707,52.765159,53.243663,1.429415e+08,0.000000,0.000000
4,aapl,2018-10-31 00:00:00-04:00,53.034195,53.691337,52.236847,52.949237,1.373476e+08,0.000000,0.000000
5,aapl,2018-11-30 00:00:00-05:00,46.109031,46.620921,45.359188,45.968402,1.831098e+08,0.008690,0.000000
6,aapl,2018-12-31 00:00:00-05:00,39.756396,40.256071,38.949902,39.521375,1.892468e+08,0.000000,0.000000
7,aapl,2019-01-31 00:00:00-05:00,36.957193,37.419591,36.557579,37.091353,1.577309e+08,0.000000,0.000000
8,aapl,2019-02-28 00:00:00-05:00,41.366249,41.725548,41.158624,41.447228,9.948223e+07,0.009605,0.000000
9,aapl,2019-03-31 00:00:00-04:00,44.271482,44.684200,43.833449,44.288395,1.239965e+08,0.000000,0.000000
10,aapl,2019-04-30 00:00:00-04:00,48.292813,48.706107,47.994233,48.449755,9.640337e+07,0.000000,0.000000
11,aapl,2019-05-31 00:00:00-04:00,46.252209,46.840993,45.832245,46.333325,1.344467e+08,0.008750,0.000000
12,aapl,2019-06-30 00:00:00-04:00,46.731861,47.248869,46.384644,46.805720,1.030437e+08,0.000000,0.000000
13,aapl,2019-07-31 00:00:00-04:00,49.736475,50.143418,49.460513,49.776387,8.615485e+07,0.000000,0.000000
14,aapl,2019-08-31 00:00:00-04:00,49.926031,50.496913,49.339472,49.852052,1.238330e+08,0.008750,0.000000
15,aapl,2019-09-30 00:00:00-04:00,53.011688,53.436191,52.576350,53.076818,1.085134e+08,0.000000,0.000000
16,aapl,2019-10-31 00:00:00-04:00,57.199999,57.696587,56.716855,57.286909,1.057918e+08,0.000000,0.000000
17,aapl,2019-11-30 00:00:00-05:00,63.870515,64.301834,63.516090,64.072100,8.966630e+07,0.009625,0.000000
18,aapl,2019-12-31 00:00:00-05:00,67.252846,67.861506,66.880836,67.529847,1.137521e+08,0.000000,0.000000
19,aapl,2020-01-31 00:00:00-05:00,75.990502,76.761036,75.419171,76.172496,1.397319e+08,0.000000,0.000000
20,aapl,2020-02-29 00:00:00-05:00,75.922390,77.130853,75.044571,76.156354,1.589094e+08,0.010132,0.000000
21,aapl,2020-03-31 00:00:00-04:00,63.907640,66.017487,62.383278,64.243110,2.854578e+08,0.000000,0.000000
22,aapl,2020-04-30 00:00:00-04:00,66.536119,67.507927,65.623761,66.676814,1.554904e+08,0.000000,0.000000
23,aapl,2020-05-31 00:00:00-04:00,75.767237,76.837948,75.152728,76.036901,1.402968e+08,0.010250,0.000000
24,aapl,2020-06-30 00:00:00-04:00,84.567825,85.746879,83.610902,84.878318,1.474262e+08,0.000000,0.000000
25,aapl,2020-07-31 00:00:00-04:00,93.681061,94.829100,92.550205,93.827104,1.372856e+08,0.000000,0.000000
26,aapl,2020-08-31 00:00:00-04:00,115.011440,116.580088,113.621622,115.335442,1.938124e+08,0.009762,0.190476
27,aapl,2020-09-30 00:00:00-04:00,114.172089,116.097079,110.735207,113.233946,1.850117e+08,0.000000,0.000000
28,aapl,2020-10-31 00:00:00-04:00,114.777028,116.331520,113.023587,114.500735,1.315758e+08,0.000000,0.000000
29,aapl,2020-11-30 00:00:00-05:00,114.990402,116.418979,113.672586,115.066562,1.061539e+08,0.010250,0.000000
30,aapl,2020-12-31 00:00:00-05:00,125.277375,126.713628,123.875605,125.415313,1.055541e+08,0.000000,0.000000
31,aapl,2021-01-31 00:00:00-05:00,131.140316,133.080260,129.049471,131.077051,1.179085e+08,0.000000,0.000000
32,aapl,2021-02-28 00:00:00-05:00,130.230190,131.260299,128.165390,129.745732,9.651872e+07,0.010789,0.000000
33,aapl,2021-03-31 00:00:00-04:00,120.468649,121.834641,118.808349,120.255425,1.152356e+08,0.000000,0.000000
34,aapl,2021-04-30 00:00:00-04:00,129.926556,131.149175,128.735419,130.065170,8.999321e+07,0.000000,0.000000
35,aapl,2021-05-31 00:00:00-04:00,125.519971,126.629507,124.323557,125.272053,8.559674e+07,0.011000,0.000000
36,aapl,2021-06-30 00:00:00-04:00,127.989688,129.138498,127.269939,128.453344,7.302682e+07,0.000000,0.000000
37,aapl,2021-07-31 00:00:00-04:00,142.895939,144.558362,141.875984,143.458394,9.138262e+07,0.000000,0.000000
38,aapl,2021-08-31 00:00:00-04:00,146.317858,147.678685,145.342595,146.641343,6.643376e+07,0.010000,0.000000
39,aapl,2021-09-30 00:00:00-04:00,147.496695,148.479994,145.733261,146.808008,8.561120e+07,0.000000,0.000000
40,aapl,2021-10-31 00:00:00-04:00,143.506935,144.939458,142.500538,144.093331,7.452758e+07,0.000000,0.000000
41,aapl,2021-11-30 00:00:00-05:00,152.232774,154.121101,151.224150,152.878912,8.052519e+07,0.010476,0.000000
42,aapl,2021-12-31 00:00:00-05:00,171.656412,174.111790,169.770157,172.050246,1.111258e+08,0.000000,0.000000
43,aapl,2022-01-31 00:00:00-05:00,168.728030,170.955081,166.188211,168.390974,1.054223e+08,0.000000,0.000000
44,aapl,2022-02-28 00:00:00-05:00,168.346167,170.281502,166.306987,168.539459,8.565875e+07,0.011579,0.000000
45,aapl,2022-03-31 00:00:00-04:00,163.588344,165.928306,161.734330,164.088101,9.481740e+07,0.000000,0.000000
46,aapl,2022-04-30 00:00:00-04:00,166.240628,168.265047,163.862345,165.587492,8.438978e+07,0.000000,0.000000
47,aapl,2022-05-31 00:00:00-04:00,147.399533,150.009836,144.458114,147.504965,1.143353e+08,0.010952,0.000000
48,aapl,2022-06-30 00:00:00-04:00,139.115026,141.076645,137.291629,138.968758,8.329047e+07,0.000000,0.000000
49,aapl,2022-07-31 00:00:00-04:00,147.555413,149.871086,146.268101,148.782088,7.235627e+07,0.000000,0.000000

In [63]:
# Round the 'Volume' column to the nearest million
monthly_stock_info['Volume'] = (monthly_stock_info['Volume'] / 1_000_000).round().astype(int)

# Drop the specified columns
monthly_stock_info = monthly_stock_info.drop(['Dividends', 'Stock Splits'], axis=1)

# Rename the 'Volume' column to 'Volume ($M)'
monthly_stock_info = monthly_stock_info.rename(columns={'Volume': 'Volume ($M)'})

# Remove all null values from the DataFrame
monthly_stock_info = monthly_stock_info.dropna()

# Format all decimal values to two decimal places
monthly_stock_info = monthly_stock_info.round(decimals=2)

# Display the first rows of the DataFrame
monthly_stock_info.head()

  Ticker                      Date   Open   High    Low  Close  Volume ($M)
0   aapl 2018-06-30 00:00:00-04:00  44.64  44.92  44.27  44.53          108
1   aapl 2018-07-31 00:00:00-04:00  45.44  45.76  45.16  45.47           75
2   aapl 2018-08-31 00:00:00-04:00  50.89  51.39  50.61  51.10          122
3   aapl 2018-09-30 00:00:00-04:00  53.31  53.83  52.77  53.24          143
4   aapl 2018-10-31 00:00:00-04:00  53.03  53.69  52.24  52.95          137

In [64]:
# Export Data to csv

# Select columns to export
OpenClose_df = monthly_stock_info[['Ticker', 'Date', 'Open', 'Close']]

path = "OpenClose.csv"

# Export the DataFrame to a csv file
OpenClose_df.to_csv(path, index=False)

In [67]:
# Select columns to export
Volume_df= monthly_stock_info[['Ticker', 'Date', 'Volume ($M)']]

path = "Volume.csv"

# Export the DataFrame to a csv file
Volume_df.to_csv(path, index=False)

In [68]:
HighLow_df = monthly_stock_info[['Ticker', 'Date', 'High', 'Low']]

path = "HighLow.csv"

# Export the DataFrame to a csv file
HighLow_df.to_csv(path, index=False)

In [56]:
# Define tickers
tickers = ['msft', 'aapl', 'goog', 'nvda', 'meta', 'tsm', 'avgo', 'orcl', 'adbe', 'crm', 'csco', 'tmus', 'intc', 'intu', 'ibm', 'tsla', 't', 'now', 'adi', 'uber', 'shop', 'abnb', 'pypl', 'infy', 'snow', 'wday', 'aph']

# Create an empty list to store the information DataFrames
df_list = []

# Loop over each ticker in the list
for ticker in tickers:
    ticker_object = yf.Ticker(ticker)
  
    # Get the company info
    info = ticker_object.info

    # Convert the info into a DataFrame
    info_df = pd.DataFrame.from_dict(info, orient='index').T

    # Append the DataFrame to the list
    df_list.append(info_df)

# Concatenate all the dataframes in the list into one DataFrame
company_info_df = pd.concat(df_list, ignore_index=True)

# Display the first rows of the DataFrame
company_info_df.head(50)

,address1,city,state,zip,country,phone,fax,website,industry,industryDisp,...,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio,address2,industrySymbol
0,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,425 706 7329,https://www.microsoft.com,Softwareâ€”Infrastructure,Softwareâ€”Infrastructure,...,83441000448,0.104,0.071,0.68522,0.4821,0.41415,USD,2.4013,NaN,NaN
1,One Apple Park Way,Cupertino,CA,95014,United States,408 996 1010,NaN,https://www.apple.com,Consumer Electronics,Consumer Electronics,...,109583998976,0.0,-0.025,0.43181,0.32145,0.29163,USD,2.4826,NaN,NaN
2,1600 Amphitheatre Parkway,Mountain View,CA,94043,United States,650 253 0000,NaN,https://www.abc.xyz,Internet Content & Information,Internet Content & Information,...,89898000384,-0.047,0.026,0.55302,0.30742,0.25355,USD,1.5232,NaN,NaN
3,2788 San Tomas Expressway,Santa Clara,CA,95051,United States,408 486 2000,NaN,https://www.nvidia.com,Semiconductors,Semiconductors,...,6821000192,0.281,-0.132,0.56314,0.23534,0.17374,USD,2.2029,NaN,NaN
4,1601 Willow Road,Menlo Park,CA,94025,United States,650 543 4800,NaN,https://investor.fb.com,Internet Content & Information,Internet Content & Information,...,50396999680,-0.191,0.026,0.79576,0.3618,0.28465,USD,0.9183,NaN,NaN
5,Hsinchu Science Park,Hsinchu City,NaN,300096,Taiwan,886 3 563 6688,886 3 563 7000,https://www.tsmc.com,Semiconductors,Semiconductors,...,1623674191872,0.021,0.036,0.59684,0.68252,0.49474,TWD,4.2097,"No. 8, Li-Hsin Road 6",NaN
6,1320 Ridder Park Drive,San Jose,CA,95131-2313,United States,408 433 8000,NaN,https://www.broadcom.com,Semiconductors,Semiconductors,...,NaN,NaN,NaN,0.0,0.0,0.0,USD,1.4028,NaN,NaN
7,2300 Oracle Way,Austin,TX,78741,United States,737 867 1000,NaN,https://www.oracle.com,Softwareâ€”Infrastructure,Softwareâ€”Infrastructure,...,15502999552,-0.19,0.179,0.74496,0.38792,0.29157,USD,2.1494,NaN,NaN
8,345 Park Avenue,San Jose,CA,95110-2704,United States,408 536 6000,408 537 6000,https://www.adobe.com,Softwareâ€”Infrastructure,Softwareâ€”Infrastructure,...,7761999872,0.019,0.092,0.8766,0.37341,0.33913,USD,1.9614,NaN,NaN
9,Salesforce Tower,San Francisco,CA,94105,United States,415 901 7000,415 901 7040,https://www.salesforce.com,Softwareâ€”Application,Softwareâ€”Application,...,7926000128,6.079,0.113,0.73779,0.21396,0.09199,USD,1.4489,3rd Floor 415 Mission Street,h885
10,170 West Tasman Drive,San Jose,CA,95134-1706,United States,408 526 4000,NaN,https://www.cisco.com,Communication Equipment,Communication Equipment,...,17596999680,0.068,0.135,0.61989,0.29517,0.26504,USD,2.0184,NaN,NaN
11,12920 SE 38th Street,Bellevue,WA,98006-1350,United States,425 378 4000,NaN,https://www.t-mobile.com,Telecom Services,Telecom Services,...,16986999808,1.772,-0.024,0.60615,0.33891,0.17112,USD,0.3302,NaN,NaN
12,2200 Mission College Boulevard,Santa Clara,CA,95054-1549,United States,408 765 8080,NaN,https://www.intel.com,Semiconductors,Semiconductors,...,7757000192,NaN,-0.362,0.3834,0.17468,-0.03896,USD,9.6706,NaN,NaN
13,2700 Coast Avenue,Mountain View,CA,94043,United States,650 944 6000,NaN,https://www.intuit.com,Softwareâ€”Application,Softwareâ€”Application,...,4543000064,0.175,0.069,0.79623,0.26333,0.2167,USD,1.651,NaN,NaN
14,One New Orchard Road,Armonk,NY,10504,United States,914 499 1900,NaN,https://www.ibm.com,Information Technology Services,Information Technology Services,...,10961000448,0.253,0.004,0.54243,0.2087,0.13244,USD,2.2464,NaN,NaN
15,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,NaN,https://www.tesla.com,Auto Manufacturers,Auto Manufacturers,...,13242000384,-0.232,0.244,0.23135,0.19371,0.14823,USD,2.7022,NaN,NaN
16,208 South Akard Street,Dallas,TX,75202,United States,210 821 4105,NaN,https://www.att.com,Telecom Services,Telecom Services,...,32969000960,-0.127,0.014,0.58368,0.36153,0.23594,USD,3.2284,NaN,NaN
17,2225 Lawson Lane,Santa Clara,CA,95054,United States,408 501 8550,NaN,https://www.servicenow.com,Softwareâ€”Application,Softwareâ€”Application,...,2761999872,0.973,0.217,0.78449,0.11419,0.05408,USD,2.1866,NaN,NaN
18,One Analog Way,Wilmington,MA,01887,United States,781 935 5565,NaN,https://www.analog.com,Semiconductors,Semiconductors,...,4885067776,0.289,0.098,0.65693,0.5255,0.34517,USD,1.7879,NaN,NaN
19,1515 3rd Street,San Francisco,CA,94158,United States,415 612 8582,NaN,https://www.uber.com,Softwareâ€”Application,Softwareâ€”Application,...,1232999936,NaN,0.287,0.30949,-0.02104,-0.04763,USD,None,NaN,NaN
20,151 O'Connor Street,Ottawa,ON,K2P 2L8,Canada,NaN,NaN,https://www.shopify.com,Softwareâ€”Application,Softwareâ€”Application,...,-11448000,NaN,0.252,0.47987,-0.07555,-0.09291,USD,None,Ground floor,NaN
21,888 Brannan Street,San Francisco,CA,94103,United States,415 510 4027,NaN,https://www.airbnb.com,Travel Services,Travel Services,...,3815000064,NaN,0.205,0.8204,0.22151,0.21744,USD,1.6215,NaN,NaN
22,2211 North First Street,San Jose,CA,95131,United States,408 967 1000,NaN,https://www.paypal.com,Credit Services,Credit Services,...,5766000128,0.628,0.086,0.41735,0.18835,0.15868,USD,0.5296,NaN,NaN
23,Plot No. 44/97 A,Bengaluru,NaN,560100,India,91 80 2852 0261,91 80 2852 0362,https://www.infosys.com,Information Technology Services,Information Technology Services,...,2852999936,0.001,0.064,0.29579,0.23078,0.21008,USD,1.64,3rd cross Electronic City Hosur Road,NaN
24,106 East Babcock Street,Bozeman,MT,59715,United States,844 766 9355,NaN,https://www.snowflake.com,Softwareâ€”Application,Softwareâ€”Application,...,660470016,NaN,0.476,0.65635,-0.3768,-0.40616,USD,4.7561,Suite 3A,NaN
25,6110 Stoneridge Mall Road,Pleasanton,CA,94588,United States,925 951 9000,925 951 9001,https://www.workday.com,Softwareâ€”Application,Softwareâ€”Application,...,1494793984,NaN,0.174,0.73246,0.02719,-0.02616,USD,1.5216,NaN,NaN
26,358 Hall Avenue,Wallingford,CT,06492,United States,203 265 8900,NaN,https://www.amphenol.com,Electronic Components,Electronic Components,...,2356199936,0.044,0.007,0.31989,0.23812,0.20664,USD,4.8264,PO Box 5030,NaN

In [57]:
df_list = []

# Loop over each ticker in the list
for ticker in tickers:
    ticker_object = yf.Ticker(ticker)
  
    # Get the company info
    info = ticker_object.info

    # Add the ticker to the info
    info['Ticker'] = ticker

    # Convert the info into a DataFrame
    info_df = pd.DataFrame.from_dict(info, orient='index').T

    # Append the DataFrame to the list
    df_list.append(info_df)

# Concatenate all the dataframes in the list into one DataFrame
company_info_df = pd.concat(df_list, ignore_index=True)

# Specify the columns you want to keep, now including 'Ticker'
columns_to_keep = ['Ticker', 'longName', 'city', 'country', 'website', 'industry', 'revenueGrowth', 'ebitdaMargins']

# Filter the DataFrame
filtered_df = company_info_df[columns_to_keep]
filtered_df = filtered_df.rename(columns={'longName': 'CompanyName'})

# Drop rows with null values
filtered_df = filtered_df.dropna()

# Sort by Ticker
filtered_df = filtered_df.sort_values(['Ticker'])

# Display the first rows of the DataFrame
filtered_df.head(50)

,Ticker,CompanyName,city,country,website,industry,revenueGrowth,ebitdaMargins
1,aapl,Apple Inc.,Cupertino,United States,https://www.apple.com,Consumer Electronics,-0.025,0.32145
21,abnb,"Airbnb, Inc.",San Francisco,United States,https://www.airbnb.com,Travel Services,0.205,0.22151
8,adbe,Adobe Inc.,San Jose,United States,https://www.adobe.com,Softwareâ€”Infrastructure,0.092,0.37341
18,adi,"Analog Devices, Inc.",Wilmington,United States,https://www.analog.com,Semiconductors,0.098,0.5255
26,aph,Amphenol Corporation,Wallingford,United States,https://www.amphenol.com,Electronic Components,0.007,0.23812
9,crm,"Salesforce, Inc.",San Francisco,United States,https://www.salesforce.com,Softwareâ€”Application,0.113,0.21396
10,csco,"Cisco Systems, Inc.",San Jose,United States,https://www.cisco.com,Communication Equipment,0.135,0.29517
2,goog,Alphabet Inc.,Mountain View,United States,https://www.abc.xyz,Internet Content & Information,0.026,0.30742
14,ibm,International Business Machines Corporation,Armonk,United States,https://www.ibm.com,Information Technology Services,0.004,0.2087
23,infy,Infosys Limited,Bengaluru,India,https://www.infosys.com,Information Technology Services,0.064,0.23078
12,intc,Intel Corporation,Santa Clara,United States,https://www.intel.com,Semiconductors,-0.362,0.17468
13,intu,Intuit Inc.,Mountain View,United States,https://www.intuit.com,Softwareâ€”Application,0.069,0.26333
4,meta,"Meta Platforms, Inc.",Menlo Park,United States,https://investor.fb.com,Internet Content & Information,0.026,0.3618
0,msft,Microsoft Corporation,Redmond,United States,https://www.microsoft.com,Softwareâ€”Infrastructure,0.071,0.4821
17,now,"ServiceNow, Inc.",Santa Clara,United States,https://www.servicenow.com,Softwareâ€”Application,0.217,0.11419
3,nvda,NVIDIA Corporation,Santa Clara,United States,https://www.nvidia.com,Semiconductors,-0.132,0.23534
7,orcl,Oracle Corporation,Austin,United States,https://www.oracle.com,Softwareâ€”Infrastructure,0.179,0.38792
22,pypl,"PayPal Holdings, Inc.",San Jose,United States,https://www.paypal.com,Credit Services,0.086,0.18835
20,shop,Shopify Inc.,Ottawa,Canada,https://www.shopify.com,Softwareâ€”Application,0.252,-0.07555
24,snow,Snowflake Inc.,Bozeman,United States,https://www.snowflake.com,Softwareâ€”Application,0.476,-0.3768
16,t,AT&T Inc.,Dallas,United States,https://www.att.com,Telecom Services,0.014,0.36153
11,tmus,"T-Mobile US, Inc.",Bellevue,United States,https://www.t-mobile.com,Telecom Services,-0.024,0.33891
15,tsla,"Tesla, Inc.",Austin,United States,https://www.tesla.com,Auto Manufacturers,0.244,0.19371
5,tsm,Taiwan Semiconductor Manufacturing Company Lim...,Hsinchu City,Taiwan,https://www.tsmc.com,Semiconductors,0.036,0.68252
19,uber,"Uber Technologies, Inc.",San Francisco,United States,https://www.uber.com,Softwareâ€”Application,0.287,-0.02104
25,wday,"Workday, Inc.",Pleasanton,United States,https://www.workday.com,Softwareâ€”Application,0.174,0.02719

In [58]:
import os

directory = "../Database"
if not os.path.exists(directory):
    os.makedirs(directory)

path = "stock_info.csv"

# Export the DataFrame to a csv file
filtered_df.to_csv(path, index=False)